<div class="ham-panel">
	<div class="ham-panel__holder">
		<nav class="ham-panel-nav navigation">
			<ul>
				<li><a href="#section0" rel="nofollow">Introducción</a></li>
				<li><a href="#sectionD" rel="nofollow">Variedad de juegos</a></li>
				<li><a href="#section2" rel="nofollow">Bonos</a></li>
				<li><a href="#section3" rel="nofollow">Registro</a></li>
				<li><a href="#section4" rel="nofollow">Versión móvil</a></li>
				<li><a href="#section5" rel="nofollow">Métodos de pago</a></li>
				<li><a href="#section6" rel="nofollow">VIP</a></li>
				<li><a href="#section7" rel="nofollow">Atención al cliente</a></li>
			</ul>
		</nav>
	</div>
</div>
