<!DOCTYPE html>
<html dir="ltr" lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="Author" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

		<link rel="shortcut icon" href="favicon.ico"/>
		<meta name="theme-color" content="#ffffff"> {% block meta %}{% endblock %}
		<title>
			{% block title %}Betriot{% endblock %}
		</title>
		<meta name="description" content="{% block description %}{% endblock %}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/global.min.css"> {% block stylesheets %}{% endblock %}
		</head>

		<body>
			{% block header %}
				{% include "../partials/header.twig" %}
			{% endblock %}
			<div class="main">
				<div class="p-container">
					{% include "../partials/breadcrumbs.twig" %}
					{% include "../partials/ham-panel.twig" %}
					<div class="scroll-up"></div>
					<div class="wrapper"> {% block body %}{% endblock %}</div>
					<div class="comments-wrapper">
						{% include '../partials/landing/comments.twig' %}
					</div>
					</div>
					{% block footer %}
						{% include "../partials/footer.twig" %}
					{% endblock %}
					<script src="js/main.js"></script>
					{% block javascripts %}{% endblock %}
				</body>
			</body>
		</html>
