.ham-panel {
	height: calc(100vh);
	position: fixed;
	top: 0;
	left: 0;
	padding: 36px 0 40px; // top = header height
	opacity: 0;
	transform: translateX(-200px);
	transition: all .65s ease-in-out; 
	width: 254px;
	z-index: -1;
	background-color: #fff;

	@include media-breakpoint-up(xxl) {
		display: none;
	}

	&:before {
		content: '';
		position: absolute;
		left: 100%;
		width: 20px;
		top: 0;
		bottom: 0;
		background: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	}

	&.active {
		transform: translateX(0);
		opacity: 1;
		z-index: 99;
	}

	@include media-breakpoint-up(lg) {
		width: 470px;
		padding-top: 80px;
	}

	&__holder {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		overflow-y: scroll;
		position: relative;

		left: -40px;
    padding-left: 40px;
    margin-right: -40px;

		&::-webkit-scrollbar {
			width: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: -30px;
			height: 20px;
		}
	}
}

.ham-panel-nav {	
	& > ul {
		list-style: none;
		padding-left: 0;
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding-top: 10px;

		@include media-breakpoint-up(lg) {
			gap: 30px;
		}

		& > li {				
			& > a {
				color: $color-text;
				// font-family: "CenturyGothic";
				font-size: 19px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-decoration: none;
				padding: 0 14px;
				display: block;
				transition: opacity .3s ease-in-out;
				letter-spacing: -0.3px;

				&:hover {
					opacity: .5;
				}

				&.active {
					color: $color-main;
				}

				@include media-breakpoint-up(lg) {
					font-size: 32px;
					padding: 0 30px;
				}
			}

			&:last-of-type a {
				border-bottom: none;
			}
		}
	}
}