<section class="advantages" id="section7">
  <div class="container">
    <div class="advantages__holder">
      <div class="description">
        <h2 class="description__title">Vantagens e Características Únicas</h2>
        <p class="description__text">OnaBet se destaca pelo seu sistema de bônus e promoções frequentes. O slogan onabet vem com tudo a sorte não é só uma frase; é uma realidade. A plataforma oferece uma série de promoções para jogadores novos e experientes, tornando o jogo ainda mais emocionante. Programas de fidelidade e bônus exclusivos fazem com que cada jogada valha ainda mais a pena.</p>
      </div>
      <div class="slider games-slider" data-plugin="gamesSlider">
				<div class="slider__holder">
					<div class="slider__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-src="images/games/5.webp" class="lazyload" alt="Game5" />
					</div>
					<div class="slider__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-src="images/games/6.webp" class="lazyload" alt="Game6" />
					</div>
					<div class="slider__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-src="images/games/7.webp" class="lazyload" alt="Game7" />
					</div>
					<div class="slider__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-src="images/games/8.webp" class="lazyload" alt="Game8" />
					</div>
					<div class="slider__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-src="images/games/5.webp" class="lazyload" alt="Game5" />
					</div>
				</div>
				<div class="slider__nav"></div>
			</div>
    </div>
  </div>
</section>