<section class="comments" id="reviews-section">
  <div class="comments-title">
    <div class="comments-title-box">
      <h2>Avaliações</h2>
      <span>Insgesamt 1 Bewertungen von Casino</span>
    </div>
    <div class="comments-stars">
      <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img src="images/full-star.svg"
        alt=""><img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt="">
    </div>
  </div>
  <div class="comments-sort">
    <span>Sortieren nach</span>
    <form method="GET" action="" id="sortingForm"><input type="hidden" name="reviews_sort"></form>
    <div class="select" data-item="baseSelect" data-form-id="sortingForm">
      <div data-item="baseSelectValue">Сначала самые новые</div>
      <div class="select-values">
        <div data-value="date_desc" class="value selected" data-item="baseSelectItem"> Сначала самые новые </div>
        <div data-value="date_asc" class="value " data-item="baseSelectItem"> Сначала самые старые </div>
        <div data-value="usefull_desc" class="value " data-item="baseSelectItem"> Сначала полезные </div>
        <div data-value="usefull_asc" class="value " data-item="baseSelectItem"> Сначала бесполезные </div>
      </div>
    </div>
  </div>
  <ol class="comments-list hide">
    <li class="comment" id="comment-1">
      <article class="comment-article" id="article-comment-1">
        <div class="comment-header">
          <div class="comment-user">
            <div class="comment-user-image">
              <img src="images/user-icon.svg" alt="">
            </div>
            <div class="comment-user-info">
              <span>John Doe</span>
              <span class="comment-user-info-date">2024-09-16 14:16:33</span>
            </div>
          </div>
          <div class="comment-vote">
            <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
              src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img src="images/full-star.svg"
              alt="">
          </div>
        </div>
        <div class="comment-content">
          <p>What the heck! WOW!</p>
        </div>
        <div class="comment-footer">
          <form method="POST" action="/review/6/like" class="comment-footer-like active">
            <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
            <div class="comment-likes">123</div>
            <img src="images/thumbup-icon.svg" alt="">
            <button>Gesund</button>
          </form>
          <div class="comment-footer-answer">
            <img src="images/comment-icon.svg" alt="">
            <button id="comment-btn-1" data-action="openReply">Antwort</button>
          </div>
        </div>
      </article>
      <div class="comment-form comment-answer-form hide" data-item="reviewForm">
        <div class="comment-form-title">
          <span>Hinterlassen Sie eine Bewertung</span>
        </div>
        <form method="POST" action="/review">
          <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
          <div class="g-recaptcha" data-size="normal" data-theme="light" id="recaptcha-element"></div>
          <input name="page_id" type="hidden" value="">
          <input name="rating" type="hidden" data-item="hiddenRating">
          <input type="hidden" name="reply_id" value="1">
          <div class="comment-form-container">
            <div class="comment-form-left">
              <input name="author" type="text" placeholder="Ihr Name">
              <div class="check-robot">
                <label class="checkbox"><input type="checkbox"><span>Ich bin kein Roboter</span></label>
              </div>
              <button type="submit" class="comment-form-btn">Feedback senden</button>
            </div>
            <div class="comment-form-right">
              <textarea name="text"></textarea>
            </div>
          </div>
        </form>
      </div>
      <ul class="children">
        <li class="comment comment-answer" data-comment-id="11">
          <article class="comment-article" id="article-comment-1">
            <div class="comment-header">
              <div class="comment-user">
                <div class="comment-user-image">
                  <img src="images/user-icon.svg" alt="">
                </div>
                <div class="comment-user-info">
                  <span>John Doe</span>
                  <span class="comment-user-info-date">2024-09-16 14:16:33</span>
                </div>
              </div>
              <div class="comment-vote">
                <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
                  src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
                  src="images/full-star.svg" alt="">
              </div>
            </div>
            <div class="comment-content">
              <p>Ответ на отзыв. Wow! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis quis esse
                iste quam ab perferendis nulla natus dolores iure commodi.</p>
            </div>
            <div class="comment-footer">
              <form method="POST" action="/review/6/like" class="comment-footer-like">
                <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
                <div class="comment-likes">1237</div>
                <img src="images/thumbup-icon.svg" alt="">
                <button>Gesund</button>
              </form>
            </div>
          </article>
        </li>
      </ul>
    </li>
    <li class="comment" id="comment-2">
      <article class="comment-article" id="article-comment-1">
        <div class="comment-header">
          <div class="comment-user">
            <div class="comment-user-image">
              <img src="images/user-icon.svg" alt="">
            </div>
            <div class="comment-user-info">
              <span>John Doe</span>
              <span class="comment-user-info-date">2024-09-16 14:16:33</span>
            </div>
          </div>
          <div class="comment-vote">
            <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
              src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img src="images/full-star.svg"
              alt="">
          </div>
        </div>
        <div class="comment-content">
          <p>What the heck! WOW!</p>
        </div>
        <div class="comment-footer">
          <form method="POST" action="/review/6/like" class="comment-footer-like">
            <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
            <div class="comment-likes">1237</div>
            <img src="images/thumbup-icon.svg" alt="">
            <button>Gesund</button>
          </form>
          <div class="comment-footer-answer">
            <img src="images/comment-icon.svg" alt="">
            <button id="comment-btn-1" data-action="openReply">Antwort</button>
          </div>
        </div>
      </article>
      <div class="comment-form comment-answer-form hide" data-item="reviewForm">
        <div class="comment-form-title">
          <span>Hinterlassen Sie eine Bewertung</span>
        </div>
        <form method="POST" action="/review">
          <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
          <div class="g-recaptcha" data-size="normal" data-theme="light" id="recaptcha-element"></div>
          <input name="page_id" type="hidden" value="">
          <input name="rating" type="hidden" data-item="hiddenRating">
          <input type="hidden" name="reply_id" value="1">
          <div class="comment-form-container">
            <div class="comment-form-left">
              <input name="author" type="text" placeholder="Ihr Name">
              <div class="check-robot">
                <label class="checkbox"><input type="checkbox"><span>Ich bin kein Roboter</span></label>
              </div>
              <button type="submit" class="comment-form-btn">Feedback senden</button>
            </div>
            <div class="comment-form-right">
              <textarea name="text"></textarea>
            </div>
          </div>
        </form>
      </div>
      <ul class="children">
        <li class="comment comment-answer" data-comment-id="11">
          <article class="comment-article" id="article-comment-1">
            <div class="comment-header">
              <div class="comment-user">
                <div class="comment-user-image">
                  <img src="images/user-icon.svg" alt="">
                </div>
                <div class="comment-user-info">
                  <span>John Doe</span>
                  <span class="comment-user-info-date">2024-09-16 14:16:33</span>
                </div>
              </div>
              <div class="comment-vote">
                <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
                  src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
                  src="images/full-star.svg" alt="">
              </div>
            </div>
            <div class="comment-content">
              <p>Ответ на отзыв. Wow! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis quis esse
                iste quam ab perferendis nulla natus dolores iure commodi.</p>
            </div>
            <div class="comment-footer">
              <form method="POST" action="/review/6/like" class="comment-footer-like">
                <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
                <div class="comment-likes">1237</div>
                <img src="images/thumbup-icon.svg" alt="">
                <button>Gesund</button>
              </form>
            </div>
          </article>
        </li>
      </ul>
    </li>
    <li class="comment" id="comment-3">
      <article class="comment-article" id="article-comment-1">
        <div class="comment-header">
          <div class="comment-user">
            <div class="comment-user-image">
              <img src="images/user-icon.svg" alt="">
            </div>
            <div class="comment-user-info">
              <span>John Doe</span>
              <span class="comment-user-info-date">2024-09-16 14:16:33</span>
            </div>
          </div>
          <div class="comment-vote">
            <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
              src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img src="images/full-star.svg"
              alt="">
          </div>
        </div>
        <div class="comment-content">
          <p>What the heck! WOW!</p>
        </div>
        <div class="comment-footer">
          <form method="POST" action="/review/6/like" class="comment-footer-like">
            <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
            <div class="comment-likes">1237</div>
            <img src="images/thumbup-icon.svg" alt="">
            <button>Gesund</button>
          </form>
          <div class="comment-footer-answer">
            <img src="images/comment-icon.svg" alt="">
            <button id="comment-btn-1" data-action="openReply">Antwort</button>
          </div>
        </div>
      </article>
      <div class="comment-form comment-answer-form hide" data-item="reviewForm">
        <div class="comment-form-title">
          <span>Hinterlassen Sie eine Bewertung</span>
        </div>
        <form method="POST" action="/review">
          <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
          <div class="g-recaptcha" data-size="normal" data-theme="light" id="recaptcha-element"></div>
          <input name="page_id" type="hidden" value="">
          <input name="rating" type="hidden" data-item="hiddenRating">
          <input type="hidden" name="reply_id" value="1">
          <div class="comment-form-container">
            <div class="comment-form-left">
              <input name="author" type="text" placeholder="Ihr Name">
              <div class="check-robot">
                <label class="checkbox"><input type="checkbox"><span>Ich bin kein Roboter</span></label>
              </div>
              <button type="submit" class="comment-form-btn">Feedback senden</button>
            </div>
            <div class="comment-form-right">
              <textarea name="text"></textarea>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li class="comment" id="comment-4">
      <article class="comment-article" id="article-comment-1">
        <div class="comment-header">
          <div class="comment-user">
            <div class="comment-user-image">
              <img src="images/user-icon.svg" alt="">
            </div>
            <div class="comment-user-info">
              <span>John Doe</span>
              <span class="comment-user-info-date">2024-09-16 14:16:33</span>
            </div>
          </div>
          <div class="comment-vote">
            <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
              src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img src="images/full-star.svg"
              alt="">
          </div>
        </div>
        <div class="comment-content">
          <p>What the heck! WOW!</p>
        </div>
        <div class="comment-footer">
          <form method="POST" action="/review/6/like" class="comment-footer-like">
            <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
            <div class="comment-likes">1237</div>
            <img src="images/thumbup-icon.svg" alt="">
            <button>Gesund</button>
          </form>
          <div class="comment-footer-answer">
            <img src="images/comment-icon.svg" alt="">
            <button id="comment-btn-1" data-action="openReply">Antwort</button>
          </div>
        </div>
      </article>
      <div class="comment-form comment-answer-form hide" data-item="reviewForm">
        <div class="comment-form-title">
          <span>Hinterlassen Sie eine Bewertung</span>
        </div>
        <form method="POST" action="/review">
          <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
          <div class="g-recaptcha" data-size="normal" data-theme="light" id="recaptcha-element"></div>
          <input name="page_id" type="hidden" value="">
          <input name="rating" type="hidden" data-item="hiddenRating">
          <input type="hidden" name="reply_id" value="1">
          <div class="comment-form-container">
            <div class="comment-form-left">
              <input name="author" type="text" placeholder="Ihr Name">
              <div class="check-robot">
                <label class="checkbox"><input type="checkbox"><span>Ich bin kein Roboter</span></label>
              </div>
              <button type="submit" class="comment-form-btn">Feedback senden</button>
            </div>
            <div class="comment-form-right">
              <textarea name="text"></textarea>
            </div>
          </div>
        </form>
      </div>
      <ul class="children">
        <li class="comment comment-answer" data-comment-id="11">
          <article class="comment-article" id="article-comment-1">
            <div class="comment-header">
              <div class="comment-user">
                <div class="comment-user-image">
                  <img src="images/user-icon.svg" alt="">
                </div>
                <div class="comment-user-info">
                  <span>John Doe</span>
                  <span class="comment-user-info-date">2024-09-16 14:16:33</span>
                </div>
              </div>
              <div class="comment-vote">
                <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
                  src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
                  src="images/full-star.svg" alt="">
              </div>
            </div>
            <div class="comment-content">
              <p>Ответ на отзыв. Wow! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis quis esse
                iste quam ab perferendis nulla natus dolores iure commodi.</p>
            </div>
            <div class="comment-footer">
              <form method="POST" action="/review/6/like" class="comment-footer-like">
                <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
                <div class="comment-likes">1237</div>
                <img src="images/thumbup-icon.svg" alt="">
                <button>Gesund</button>
              </form>
            </div>
          </article>
        </li>
      </ul>
    </li>
    <li class="comment" id="comment-5">
      <article class="comment-article" id="article-comment-1">
        <div class="comment-header">
          <div class="comment-user">
            <div class="comment-user-image">
              <img src="images/user-icon.svg" alt="">
            </div>
            <div class="comment-user-info">
              <span>John Doe</span>
              <span class="comment-user-info-date">2024-09-16 14:16:33</span>
            </div>
          </div>
          <div class="comment-vote">
            <img src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img
              src="images/full-star.svg" alt=""><img src="images/full-star.svg" alt=""><img src="images/full-star.svg"
              alt="">
          </div>
        </div>
        <div class="comment-content">
          <p>What the heck! WOW!</p>
        </div>
        <div class="comment-footer">
          <form method="POST" action="/review/6/like" class="comment-footer-like">
            <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
            <div class="comment-likes">1237</div>
            <img src="images/thumbup-icon.svg" alt="">
            <button>Gesund</button>
          </form>
          <div class="comment-footer-answer">
            <img src="images/comment-icon.svg" alt="">
            <button id="comment-btn-1" data-action="openReply">Antwort</button>
          </div>
        </div>
      </article>
      <div class="comment-form comment-answer-form hide" data-item="reviewForm">
        <div class="comment-form-title">
          <span>Hinterlassen Sie eine Bewertung</span>
        </div>
        <form method="POST" action="/review">
          <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
          <div class="g-recaptcha" data-size="normal" data-theme="light" id="recaptcha-element"></div>
          <input name="page_id" type="hidden" value="">
          <input name="rating" type="hidden" data-item="hiddenRating">
          <input type="hidden" name="reply_id" value="1">
          <div class="comment-form-container">
            <div class="comment-form-left">
              <input name="author" type="text" placeholder="Ihr Name">
              <div class="check-robot">
                <label class="checkbox"><input type="checkbox"><span>Ich bin kein Roboter</span></label>
              </div>
              <button type="submit" class="comment-form-btn">Feedback senden</button>
            </div>
            <div class="comment-form-right">
              <textarea name="text"></textarea>
            </div>
          </div>
        </form>
      </div>
    </li>
    <div class="comments-showmore">Alle Bewertungen anzeigen</div>
    <div class="comments-lessmore hide">Bewertungen ausblenden</div>
  </ol>
  <div class="comment-form" data-item="reviewForm" data-form-id="">
    <div class="comment-form-title">
      <span>Hinterlassen Sie eine Bewertung</span>
      <div class="comment-form-stars rating">
        <span class="stars-container" score="5" id="223" data-item="formStars">
          <span class="star" id="star1" data-item-value="1" data-item="formStar"></span>
          <span class="star" id="star2" data-item-value="2" data-item="formStar"></span>
          <span class="star" id="star3" data-item-value="3" data-item="formStar"></span>
          <span class="star" id="star4" data-item-value="4" data-item="formStar"></span>
          <span class="star" id="star5" data-item-value="5" data-item="formStar"></span>
        </span>
      </div>
    </div>
    <form method="POST" action="/review">
      <input type="hidden" name="_token" value="u7G9Trv692Hyq09HiPqz02jaP880ZhOPyV16bSwA">
      <div class="g-recaptcha" data-size="normal" data-theme="light" id="recaptcha-element"></div>
      <input name="page_id" type="hidden" value="1">
      <input name="rating" type="hidden" data-item="hiddenRating">
      <div class="comment-form-container">
        <div class="comment-form-left">
          <input name="author" type="text" placeholder="Ihr Name">
          <div class="check-robot">
            <label class="checkbox"><input type="checkbox"><span>Ich bin kein Roboter</span></label>
          </div>
          <button type="submit" class="comment-form-btn">Feedback senden</button>
        </div>
        <div class="comment-form-right">
          <textarea name="text"></textarea>
        </div>
      </div>
    </form>
  </div>
</section>