<section class="games">
	<div class="container">
		<div class="slider games-slider lisence-slider" data-plugin="gamesSlider">
			<div class="slider__holder">
				<div class="slider__item">
					<a href="{{--button_href--}}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/11.png" class="lazyload" alt="Game11"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{--button_href--}}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/12.png" class="lazyload" alt="Game12"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{--button_href--}}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/13.png" class="lazyload" alt="Game13"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{--button_href--}}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/14.png" class="lazyload" alt="Game14"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{--button_href--}}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/15.png" class="lazyload" alt="Game15"/>
					</a>
				</div>
				<div class="slider__item">
					<a href="{{--button_href--}}" rel="nofollow" target="_blank">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/games/13.png" class="lazyload" alt="Game13"/>
					</a>
				</div>
			</div>
			<div class="slider__nav"></div>
		</div>
	</div>
</section>
