<section class="video">
	<div class="container">
		<div class="video__holder">
			<div class="slider video-slider" data-plugin="videoSlider">
				<div class="slider__holder">
					<div class="slider__item">
						<a href="#" rel="nofollow" aria-label="Play video">
							<img src="images/play.svg" alt="Play" title="Play">
						</a>
						<span>Youtube</span>
					</div>
					<div class="slider__item">
						<a href="#" rel="nofollow" aria-label="Play video">
							<img src="images/play.svg" alt="Play" title="Play">
						</a>
						<span>Youtube</span>
					</div>
					<div class="slider__item">
						<a href="#" rel="nofollow" aria-label="Play video">
							<img src="images/play.svg" alt="Play" title="Play">
						</a>
						<span>Youtube</span>
					</div>
				</div>
				<div class="slider__nav"></div>
			</div>
		</div>
	</section>
