.comments {

  &-wrapper {
    background: url('../images/background.webp');
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 70px;
    margin-top: -70px;
    position: relative;
    z-index: 4;

    @include media-breakpoint-up(lg) {
      padding-top: 100px;
      margin-top: -100px;
      margin-bottom: -100px;
      padding-bottom: 100px;
    }
  }

  margin: 0 auto;
  display: block;
  padding: 0 14px 60px;
  width: 100%;
  max-width: 1700px;
  min-width: 347px;
  overflow: hidden;
  position: relative;
  z-index: 3;

  @include make-max-widths-container-width();

  @include media-breakpoint-up(lg) {
    padding: 0 30px 130px;
  }

  @include media-breakpoint-up(xxxl) {
    overflow: visible;
  }

  // &:before {
  //   content: '';
  //   position: absolute;
  //   min-width: 1920px;
  //   height: 100%;
  //   margin: 0 auto;
  //   top: 0;
  //   left: -5.3vw;
  //   // right: 0;
  //   background: url('../images/background.webp');
  //   background-size: 100% 100%;
  //   z-index: 1;
  // }

  &-showmore,
  &-lessmore {
    margin: 0 auto;
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin-top: 20px;
    color: transparent;
    background: url('../images/arrow.webp') no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;
    transition: opacity .3s ease-in-out, box-shadow .2s ease-in-out;
    text-indent: -9999px;

    border-radius: 50%;

    &:hover {
      opacity: .75;
      box-shadow: 0 0 15px rgba($color-main, 1);
    }

    @include media-breakpoint-up(sm) {
      width: 53px;
      height: 53px;
      margin-top: 25px;
    }


    @include media-breakpoint-up(lg) {
      width: 100px;
      height: 100px;
      margin-top: 40px;
    }

    &.hide {
      display: none;
    }
  }

  &-showmore {
    transform: rotate(90deg);
  }

  &-lessmore {
    transform: rotate(-90deg);
  }

  &-title {
    display: flex;
    gap: 20px;
    align-items: baseline;
    // margin-bottom: 30px;
    z-index: 3;
    position: relative;

    h2 {
      // font-family: "CenturyGothic";
      font-size: 16px;
      font-weight: 700;
      line-height: normal;


      @include media-breakpoint-up(lg) {
        font-size: 32px;
      }

      @include media-breakpoint-up(xxl) {
        font-size: 48px;
      }
    }

    span {
      margin: 0;
      display: none;
      font-size: 14px;

      @include media-breakpoint-up(md) {
        display: block;
      }

      @include media-breakpoint-up(lg) {
        font-size: 22px;
      }

      @include media-breakpoint-up(xxl) {
        font-size: 34px;
      }
    }

    &-box {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
  }

  &-stars {
    display: flex;
    gap: 7px;

    img {
      width: 14px;
      height: 14px;

      @include media-breakpoint-up(sm) {
        width: 20px;
        height: 20px;
      }

      @include media-breakpoint-up(lg) {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.comments-sort {
  gap: 17px;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
  z-index: 4;
  display: none;

  @include media-breakpoint-up(sm) {
    display: flex;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 52px;
  }

  & > span {
    font-size: 27px;
    font-weight: 500;
    line-height: normal;
    margin: 0;

    @include media-breakpoint-up(sm) {
      font-size: 15px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 27px;
    }
  }

  form {
    display: none;
  }
}

.select {
  position: relative;
  z-index: 3;

  &>div:first-of-type {
    border-radius: 5px;
    border: 2px solid $color-main-light;
    background: rgba($color-back, 0.05);
    // box-shadow: 0px 0px 16px 0px #024AF1;
    padding: 24px 65px 24px 30px;
    color: $color-text;
    font-size: 27px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    position: relative;

    @include media-breakpoint-up(sm) {
      font-size: 15px;
      padding: 14px 50px 14px 30px;
      border-radius: 10px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 27px;
      padding: 24px 75px 24px 30px;
      border-width: 3px;
    }

    &:after {
      content: '';
      background: url('../images/play.svg') no-repeat;
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transform: rotate(90deg);
      opacity: .8;

      @include media-breakpoint-up(md) {
        width: 25px;
        height: 25px;
        right: 15px;
      }

      @include media-breakpoint-up(lg) {
        width: 40px;
        height: 40px;
        right: 25px;
      }
    }

    &.active {
      &+.select-values {
        visibility: visible;
        opacity: 1;
        display: flex;
      }

      &:after {
        transform: rotate(-90deg);
      }
    }
  }

  &-values {
    position: absolute;
    top: calc(100% - 2px);
    border-radius: 5px;
    border: 2px solid $color-main-light;
    background: rgba($color-back, .9);
    padding: 20px 30px;
    display: none;
    flex-direction: column;
    gap: 15px;
    opacity: 0;
    visibility: 0;
    z-index: 9;

    @include media-breakpoint-up(sm) {
      border-radius: 10px;
    }

    @include media-breakpoint-up(lg) {
      border-width: 3px;
    }

    .value {
      font-size: 27px;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;

      @include media-breakpoint-up(sm) {
        font-size: 20px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 27px;
      }
    }
  }
}

.comments-list {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;

  &.hide>.comment:nth-child(n+3) {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}

.comment {
  flex-direction: column;

  &-article {
    background-size: 100% 100%;
    overflow: hidden;
    padding: 15px 19px;
    order: 1;
    margin-bottom: 4px;
    border-radius: 10px;
    border: 1px solid $color-main-light;
    background: rgba(255, 138, 0, 0.05);

    @include media-breakpoint-up(sm) {
      border-width: 2px;
      padding: 24px 30px 22px;
      margin-bottom: 6px;
    }

    @include media-breakpoint-up(lg) {
      padding: 27px 41px 28px;
      margin-bottom: 10px;
      border-radius: 20px;
    }

    @include media-breakpoint-up(xl) {
      border-width: 3px;
      border-radius: 25px;
    }
  }

  &-form {
    order: 3;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 1px solid $color-main-light;
    background: rgba(255, 138, 0, 0.05);

    overflow: hidden;
    padding: 15px 29px;
    margin-bottom: 4px;
    position: relative;
    z-index: 3;

    @include media-breakpoint-up(sm) {
      border-width: 2px;
    }

    @include media-breakpoint-up(lg) {
      border-radius: 20px;
    }

    @include media-breakpoint-up(xl) {
      border-radius: 25px;
      border-width: 3px;
    }

    &.hide {
      display: none;
    }

    &.comment-answer-form {
      margin-left: 30px;

      @include media-breakpoint-up(sm) {
        margin-left: 100px;
      }
    }

    @include media-breakpoint-up(sm) {
      margin-bottom: 6px;
      padding: 24px 30px 22px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 21px;
      padding: 27px 41px 28px;
      border-width: 2px;
    }

    @include media-breakpoint-up(xl) {
      border-width: 3px;
    }

    &-title {
      margin-bottom: 10px;

      @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: space-between;
      }

      & > span {
        color: $color-text;
        margin: 0 0 5px;
        // font-family: "CenturyGothic";
        font-size: 17px;
        font-weight: 700;
        line-height: normal;


        @include media-breakpoint-up(sm) {
          font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 27px;
        }
      }
    }

    &-right {
      flex: 1;
      order: 1;

      @include media-breakpoint-up(md) {
        order: 2;
      }
    }

    &-left {
      flex: 1;
      order: 2;


      @include media-breakpoint-up(md) {
        flex: 0;
        order: 1;
        min-width: 300px;
      }

      @include media-breakpoint-up(lg) {
        min-width: 400px;
      }

      textarea {
        display: block;
        height: auto;

        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: 30px;
      }

      @include media-breakpoint-up(md) {
        gap: 40px;
      }
    }

    .check-robot {
      margin-bottom: 10px;
      border-radius: 10px;
      border: 2px solid $color-main-light;
      background: rgba(255, 255, 255, 0.40);
      padding: 10px 24px;

      @include media-breakpoint-up(sm) {
        padding: 12px 24px;
      }

      & span {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 121.949%;
        color: $color-text;
        position: relative;
        padding-left: 30px;
        display: block;

        @include media-breakpoint-up(sm) {
          font-size: 15px;
          padding-left: 30px;
          margin-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
          font-size: 20px;
          padding-left: 50px;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 22px;
          height: 22px;
          border: 2px solid $color-main-light;
          border-radius: 5px;
          margin: auto 0;

          @include media-breakpoint-up(lg) {
            width: 35px;
            height: 35px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          width: 16px;
          height: 14px;
          left: 4px;
          bottom: 4px;
          background: url('../images/check.webp');
          background-size: 100% 100%;
          opacity: 0;
          transition: opacity .3s ease-in-out;

          @include media-breakpoint-up(sm) {
            width: 33px;
            height: 27px;
            left: 6px;
            bottom: 1px;
          }
        }
      }

      .checkbox {
        cursor: pointer;

        input {
          display: none;

          &:checked~span:after {
            opacity: 1;
          }
        }
      }
    }

    &-btn {
      border-radius: 10px;
      background: rgba($color-main-light, .8);
      border: none;
      width: 100%;
      color: $color-text;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 121.949%;
      padding: 8px 25px;
      cursor: pointer;
      transition: opacity .3s ease-in-out;

      &:hover {
        opacity: .8;
      }

      @include media-breakpoint-up(sm) {
        font-size: 20px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 27px;
      }
    }

    input,
    textarea {
      border-radius: 10px;
      border: 2px solid $color-main-light;
      background: rgba(255, 255, 255, 0.40);
      padding: 8px 24px;
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 121.949%;
      color: $color-text;
      margin-bottom: 10px;
      width: 100%;

      @include media-breakpoint-up(sm) {
        font-size: 16px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 27px;
      }

      @include media-breakpoint-up(md) {
        // width: auto;
      }

      &:focus-visible {
        border: 2px solid rgba(255, 255, 255, .8);
        outline: none;
      }

      &::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 121.949%;
        color: $color-text;
        opacity: 0.5;

        @include media-breakpoint-up(sm) {
          font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 27px;
        }
      }
    }

    textarea {
      width: 100%;
      height: 130px;
      resize: none;
      // border-radius: 20px;

      @include media-breakpoint-up(md) {
        height: 100%;
      }
    }
  }

  .children {
    list-style: none;
    order: 2;
    padding-left: 30px;

    @include media-breakpoint-up(sm) {
      padding-left: 100px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;

    @include media-breakpoint-up(lg) {
      gap: 20px;
      margin-bottom: 17px;
    }
  }

  &-user {
    display: flex;
    align-items: center;
    gap: 10px;

    @include media-breakpoint-up(lg) {
      gap: 20px;
    }

    &-image {
      width: 27px;

      // border-radius: 50%;

      @include media-breakpoint-up(sm) {
        width: 37px;

      }

      @include media-breakpoint-up(lg) {
        width: 48px;

      }

      img {
        width: 100%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & > span:first-of-type {
        margin: 0;
        // font-family: "CenturyGothic";
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        color: $color-text;
        display: block;

        @include media-breakpoint-up(sm) {
          font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 20px;
        }
      }

      &-date {
        // font-family: "CenturyGothic";
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        opacity: 0.5;

        @include media-breakpoint-up(sm) {
          font-size: 14px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 17px;
        }
      }
    }
  }

  &-vote {
    display: flex;
    gap: 7px;

    img {
      width: 14px;
      height: 14px;

      @include media-breakpoint-up(sm) {
        width: 23px;
        height: 23px;
      }

      @include media-breakpoint-up(lg) {
        width: 35px;
        height: 35px;
      }
    }
  }

  &-content {
    p {
      font-size: 10px;
      font-weight: 500;
      line-height: 121.949%;
      margin-bottom: 10px;

      @include media-breakpoint-up(sm) {
        font-size: 14px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;

    img {
      max-width: 18px;

      @include media-breakpoint-up(sm) {
        max-width: 28px;
      }
    }

    &-like {
      display: flex;
      align-items: baseline;
      gap: 5px;
      font-size: 12px;
      font-weight: 500;
      line-height: 121.949%;
      cursor: pointer;

      @include media-breakpoint-up(sm) {
        font-size: 14px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: $color-text;
      }

      img {
        display: none;
      }

      &.active {
        & .comment-likes {
          &:after {
            // background-color: transparent;
            -webkit-mask: url('../images/thumbup-icon-active.svg') no-repeat;
            -webkit-mask-size: 100% 100%;
          }
        }
      }
    }

    &-answer {
      display: flex;
      align-items: baseline;
      gap: 5px;
      font-size: 12px;
      font-weight: 500;
      line-height: 121.949%;
      cursor: pointer;

      @include media-breakpoint-up(sm) {
        font-size: 14px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: $color-text;

        display: flex;
        align-items: baseline;
        gap: 10px;

        &:before {
          content: '';
          background-color: $color-main-light;
          -webkit-mask: url('../images/comment-icon.svg') no-repeat;
          -webkit-mask-size: 100% 100%;
          display: block;
          width: 20px;
          height: 17px;

          @include media-breakpoint-up(sm) {
            width: 23px;
            height: 21px;
          }

          @include media-breakpoint-up(lg) {
            width: 32px;
            height: 28px;
          }
        }
      }

      img {
        display: none;
      }

    }
  }

  &-likes {

    display: flex;
    align-items: baseline;
    gap: 10px;

    &:after {
      content: '';
      background-color: $color-main-light;
      -webkit-mask: url('../images/thumbup-icon.svg') no-repeat;
      -webkit-mask-size: 100% 100%;
      display: block;
      width: 17px;
      height: 17px;

      @include media-breakpoint-up(sm) {
        width: 21px;
        height: 21px;
      }

      @include media-breakpoint-up(lg) {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.rating {
  .stars-container {
    display: flex;
    gap: 7px;
    justify-content: flex-end;
    // flex-direction: row-reverse;

    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
    }



    .star {
      width: 14px;
      height: 14px;
      background: url('../images/empty-star.svg') no-repeat;
      background-size: 100% 100%;
      cursor: pointer;

      @include media-breakpoint-up(sm) {
        width: 23px;
        height: 23px;
      }

      @include media-breakpoint-up(lg) {
        width: 35px;
        height: 35px;
      }

      &.active {
        background-image: url('../images/full-star.svg');
        background-size: 100% 100%;
      }

      &:hover ~ .star {
        background-image: url('../images/empty-star.svg');
        background-size: 100% 100%;
      }

      & {
        background-image: url('../images/empty-star.svg');
        background-size: 100% 100%;
      }
    }
  }
}